#
.vscode
# Local terraform directories
**/.terraform/*
**/.terraform*
**/.terraform.*
**/.terraform.lock.hcl

# State files
**/*.tfstate
**/*.tfstate.*

# Crash log files
**/*.log

# Sensitive data
**/*.tfvars
**/keys/*

# YAML file
**/.env

